.allCell {
    padding-left: 3%;
    /* padding-top: 3%; */
    border: .8px solid #662b32;
}

#cell1 {
    color: white;
}

#cell4 {
    padding-left: 75%;
    padding-top: 55%;
}

#cell6 {
    padding-left: 60%;
    padding-top: 50%;
}
#cell7 {
    padding-left: 60%;
    padding-top: 50%;
}
#cell8 {
    padding-left: 60%;
    padding-top: 50%;
}
#cell13 {
    padding-left: 50%;
    padding-top: 50%;
}

#cell14 {
    padding-left: 50%;
    padding-top: 50%;
}
#cell15 {
    padding-left: 50%;
    padding-top: 50%;
}

#cell16 {
    padding-left: 10%;
    padding-top: 10%;
}

#cell17 {
    padding-left: 50%;
    padding-top: 50%;
}
#cell18 {
    padding-left: 50%;
    padding-top: 50%;
}
#cell24 {
    padding-left: 50%;
    padding-top: 50%;
}
#cell25 {
    padding-left: 40%;
    padding-top: 40%;
}
#cell26 {
    padding-left: 50%;
}
#cell27 {
    padding-top: 50%;
}

#cell28 {
    padding-left: 50%;
    padding-top: 50%;
}
#cell32 {
    padding-left: 50%;
}
#cell33 {
    padding-left: 55%;
}
#cell34 {
    padding-left: 55%;
}
#cell35 {
    padding-left: 50%;
    padding-top: 50%;
}

#cell36 {    
    padding-top: 55%;
}

#cell39 {
    padding-left: 50%;
    padding-top: 60%;
}

#cell42 {
    padding-left: 50%;
    padding-top: 50%;
}

#cell44 {
    padding-left: 50%;
}

#cell47 {
    padding-left: 50%;
    padding-top: 50%;
}
#cell48 {
    padding-left: 50%;
}

#cell49 {
    padding-left: 50%;
}

#cell50 {
    padding-left: 50%;
}
#cell53 {
    padding-left: 50%;
    padding-top: 50%;
}
#cell54 {
    padding-left: 50%;
}
#cell57 {
    padding-top: 50%;
}
#cell59 {
    padding-left: 45%;
}

#cell62 {
    padding-left: 50%;
    padding-top: 50%;
}

#cell70 {
    padding-left: 20%;
}
#cell71 {
    padding-left: 50%;
    padding-top: 60%;
}
#cell72 {
    padding-top: 50%;
}

#cell75 {
    padding-top: 50%;
}
#cell76 {
    padding-left: 50%;
    padding-top: 50%;
}

#cell78 {
    padding-left: 50%;
}

#cell80 {    
    padding-top: 60%;
}
#cell83 {
    padding-left: 50%;
    padding-top: 20%;
}
#cell85 {
    padding-left: 55%;
}
#cell86 {
    padding-left: 50%;
}